body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #2c5364);
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Glass Card */
.card {
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    width: 350px;
    transition: 0.4s;
}

.card:hover {
    transform: rotateY(5deg) scale(1.02);
}

/* Inputs */
input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

/* Button */
button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg,#00c6ff,#0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

/* Title */
h2 {
    text-align: center;
}

/* Result Cards */
.result-card {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    background: white;
    color: black;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Animation */
@keyframes fadeIn {
    from {opacity:0; transform: translateY(20px);}
    to {opacity:1;}
}